<%-include("include/head.ejs") %>
<form action="/post" class="container" method="post" enctype="multipart/form-data">
    <div class="form-floating mb-3 my-2">
        <input
            type="text"
            class="form-control"
            name="username"
            id="formId1"
            placeholder=""
        />
        <label for="formId1">User Name</label>
    </div>
    <div class="form-floating mb-3">
        <input
            type="text"
            class="form-control"
            name="title"
            id="formId1"
            placeholder=""
        />
        <label for="formId1">Title of Post</label>
    </div>
    <div class="form-floating mb-3">
        <input
            type="text"
            class="form-control"
            name="description"
            id="formId1"
            placeholder=""
        />
        <label for="formId1">Description</label>
    </div>
    <div class="mb-3">
        <label for="" class="form-label my-2">Choose file</label>
        <input
            type="file"
            class="form-control"
            name="file"
            id=""
            placeholder=""
            aria-describedby="fileHelpId"
        />
       
        
        <div id="fileHelpId" class="form-text">JPG/JPEG Only*</div>
    </div>
    <button
        type="submit"
        class="btn btn-primary"
    >
        Update
    </button>
    
</form>


<%-include("include/foot.ejs") %>