<%-include("include/head.ejs") %>
<main>
    <div class="container">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhLbotJ9BK2XMQJ-lxtHlAGM48Ven9BG-IGw&s"
          class="img-fluid rounded-top py-2"
          alt="Post"
          height="5%"
          width="50%"/>
          <hr>
          <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum eius vitae facere, enim blanditiis veniam ab repellat voluptates quod dolorem reiciendis doloribus, nobis quae magnam recusandae rerum dicta deserunt ullam repudiandae laboriosam possimus. Doloremque perspiciatis at quo pariatur omnis assumenda dolor enim odio dolorum recusandae, nulla debitis, incidunt expedita sint? Possimus dignissimos ut id ullam culpa maxime velit aspernatur veniam.</p>

          <a href="#" class="btn btn-warning">Home</a>
        
      </div>
</main>

<%-include("include/foot.ejs") %>